.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar-logo {
  font-size: 1.5rem;
}

.navbar-nav {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 1rem;
  cursor: pointer;
}

.nav-item:last-child {
  margin-right: 0;
}

.navbar-toggle {
  display: none;
  cursor: pointer;
}

.navbar-nav.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #333;
  padding: 1rem;
}

.navbar-toggle svg {
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .navbar-nav {
    display: none;
  }

  .navbar-toggle {
    display: flex;
  }

  .navbar-nav.active {
    display: flex;
    flex-direction: column;
  }
}
